header {
    border-bottom: 2px solid rgb(200, 200, 200);
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(200, 200, 200);
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif
}
body {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    margin: 0;
    background-color: #1d1d1f; 
}
#board {
    width: 350px;
    height: 420px;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
}
.tile {
    border: 2px solid rgb(170, 170, 170);
    width: 60px;
    height: 60px;
    margin: 2.5px;
    color: black;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(200, 200, 200);
}
.correct {
    background-color: green !important;
    color: white;
    border-color: rgb(100, 100, 100);
}
.present {
    background-color: rgb(160, 160, 0) !important;
    color: white;
    border-color: rgb(100, 100, 100);
}
.absent {
    background-color: gray;
    color: white;
    border-color: rgb(100, 100, 100);
}
footer {
    margin-top: 20px;;
    font-size: 50px;
    font-weight: 750;
    margin-bottom: 20px;
}
.keyboard-row {
    width: 400px;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
}
.key-tile {
    border: 1px solid rgb(100, 100, 100);
    width: 36px;
    height: 40px;
    margin: 1px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; 
    background-color: rgb(200, 200, 200);
}
.enter-key-tile {
    border: 1px solid rgb(100, 100, 100);
    background-color: rgb(200, 200, 200);
    width: 76px;
    height: 40px;
    margin: 1px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; 

}
.key-tile:hover,
.enter-key-tile:hover {
    background-color: #adacac; 
}
#refresh {
    border: 2px solid rgb(200, 200, 200);
    background-color: #38813b; 
    color: white; 
    border: none; 
    padding: 15px 32px; 
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin-top: 20px;
    cursor: pointer; 
    border-radius: 6px; 
    align-items: center;
}
#refresh:hover {
    background-color: #27682d
}
#answer {
    color: red;
} 

